@import "@styles/variables.module.scss";

.logo {
  height: 30px;
  width: 50px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  display: inline-flex !important;
}

.confirmModal {
  [class~="ant-modal-confirm-btns"] {
    text-align: center !important;
  }
}

.departmentsUploadModal {
  [class~="ant-modal-header"] {
    border-bottom: 0;
  }
}

.styleWrap{
  text-wrap: balance;
}