@import "@styles/variables.module.scss";

.logo {
    height: 30px;
    width: 50px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    display: inline-flex !important;
}


.companyName {
    font-size: 0.875rem;
    font-weight: 400;
    opacity: .5;
}