@import "@styles/variables.module.scss";

.Card {

    max-width: 300px;


    [class~=ant-card-body] {
        padding-block: 8px !important;
    }


    .Logo {
        max-width: 60px;
    }
}

.ProgressStep {
    [class~=ant-steps-item-content] {
        min-height: 20px !important;
    }
}