@import "@styles/variables.module.scss";

.headerheadingText {
  color: $primary;
  margin-bottom: 0px;
}

.subHeadingTitle {
  color: $gray !important;
  font-size: 0.8rem;
}

.cardStyle {
  border-radius: 1.25rem !important;
  overflow: hidden;



  [class~=ant-card-head] {
    box-shadow: 0px 12px 23px rgba($primary, 0.04);
    height: 85px;

    [class~=ant-card-head-wrapper] {
      height: 100%;
    }
  }
}